[submodule "datasets/finance-vix"]
	path = datasets/core/finance-vix
	url = https://github.com/datasets/finance-vix
[submodule "datasets/airport-codes"]
	path = datasets/core/airport-codes
	url = https://github.com/datasets/airport-codes
[submodule "datasets/bond-yields-uk-10y"]
	path = datasets/core/bond-yields-uk-10y
	url = https://github.com/datasets/bond-yields-uk-10y
[submodule "datasets/bond-yields-us-10y"]
	path = datasets/core/bond-yields-us-10y
	url = https://github.com/datasets/bond-yields-us-10y
[submodule "datasets/household-income-us-historical"]
	path = datasets/core/household-income-us-historical
	url = https://github.com/datasets/household-income-us-historical
[submodule "datasets/natural-gas-prices"]
	path = datasets/core/natural-gas-prices
	url = https://github.com/datasets/natural-gas-prices
[submodule "datasets/oil-prices"]
	path = datasets/core/oil-prices
	url = https://github.com/datasets/oil-prices
[submodule "datasets/population-growth-estimates-and-projections"]
	path = datasets/core/population-growth-estimates-and-projections
	url = https://github.com/datasets/population-growth-estimates-and-projections
[submodule "datasets/gold-prices"]
	path = datasets/core/gold-prices
	url = https://github.com/datasets/gold-prices
[submodule "datasets/exchange-rates"]
	path = datasets/core/exchange-rates
	url = https://github.com/datasets/exchange-rates
